<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Products</a></li>
      <li class="breadcrumb-item active">Product List</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product List Start -->
<div class="product-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-12">
            <div class="product-view-top">
              <div class="row">
                <div class="col-md-3">
                  <div class="product-search">
                    <form action="/book" action="GET">
                      <input type="search" placeholder="Search" name="keyword">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="product-short">
                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown">The loai</div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="/book" class="dropdown-item">tat ca</a>
                        {{#each categorys}}
                        {{!-- <a href="?category={{_id}}" class="dropdown-item">{{name}}</a>
                        --}}
                        <button onclick="filterByCate('{{_id}}')" class="dropdown-item">{{name}}</button>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="product-price-range">
                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown">Product price range
                      </div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" onclick="filterByPrice(0)">All</button>
                        <button class="dropdown-item" onclick="filterByPrice(1)">0đ-50.000đ</button>
                        <button class="dropdown-item" onclick="filterByPrice(2)">50.000đ-100.000đ</button>
                        <button class="dropdown-item" onclick="filterByPrice(3)">100.000đ-150.000đ</button>
                        <button class="dropdown-item" onclick="filterByPrice(4)">150.000đ-200.000đ</button>
                        <button class="dropdown-item" onclick="filterByPrice(5)">>=200000đ</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="product-price-range">
                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown">Price sort
                      </div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" onclick="sortByPrice('asc')">Ascending</button>
                        <button class="dropdown-item" onclick="sortByPrice('desc')">Descending</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{!-- Product list --}}

          {{#each bookList}}
          <div class="col-md-4">
            <div class="product-item">
              <div class="product-title">
                <a href="/book/{{this._id}}/detail">{{this.name}}</a>
              </div>
              <div class="product-image">
                <a href="">
                  <img height="400px" width="200px" style="object-fit:contain " src={{this.image}} alt="Product Image">
                </a>
                <div class="product-action">
                  <a href="#"><i class="fa fa-cart-plus"></i></a>
                  <a href="#"><i class="fa fa-heart"></i></a>
                  <a href="#"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="product-price">
                <h3><span>$</span>{{this.price}}</h3>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
              </div>
            </div>
          </div>
          {{/each}}

          <!-- Pagination Start -->
          <div class="col-md-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {{#ifeq hasPrevPage true}}
                <li class="page-item">
                  <button class="page-link" onclick="goToPage({{prevPage}})" tabindex="-1">Prev</button>
                </li>
                <li class="page-item">
                  <button onclick="goToPage({{prevPage}})" class="page-link">{{prevPage}}</button>
                </li>
                {{/ifeq}}
                <li class="page-item active"><a class="page-link">{{page}}</a></li>
                {{#ifeq hasNextPage true}}
                <li class="page-item">
                  <button class="page-link" onclick="goToPage({{nextPage}})">{{nextPage}}</button>
                </li>
                <li class="page-item">
                  <button onclick="goToPage({{nextPage}})" class="page-link">Next</button>
                </li>
                {{/ifeq}}

              </ul>
            </nav>
          </div>
          <!-- Pagination End -->
        </div>


      </div>
      <!-- Side Bar Start -->
      <div class="col-lg-4 sidebar">
        <div class="sidebar-widget category">
          <h2 class="title">Category</h2>
          <nav class="navbar bg-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets &
                  Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics &
                  Accessories</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="sidebar-widget widget-slider">
          <div class="sidebar-slider normal-slider">
            {{#each productList}}
            <div class="product-item">
              <div class="product-title">
                <a href="#">{{name}}</a>
              </div>
              <div class="product-image">
                <a href="product-detail.html">
                  <img height="100px" width="200px" src={{image}} alt="Product Image">
                </a>
                <div class="product-action">
                  <a href="#"><i class="fa fa-cart-plus"></i></a>
                  <a href="#"><i class="fa fa-heart"></i></a>
                  <a href="#"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="product-price">
                <h3><span>$</span>{{price}}</h3>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="sidebar-widget brands">
          <h2 class="title">Our Brands</h2>
          <ul>
            <li><a href="#">Nulla </a><span>(45)</span></li>
            <li><a href="#">Curabitur </a><span>(34)</span></li>
            <li><a href="#">Nunc </a><span>(67)</span></li>
            <li><a href="#">Ullamcorper</a><span>(74)</span></li>
            <li><a href="#">Fusce </a><span>(89)</span></li>
            <li><a href="#">Sagittis</a><span>(28)</span></li>
          </ul>
        </div>

        <div class="sidebar-widget tag">
          <h2 class="title">Tags Cloud</h2>
          <a href="#">Lorem ipsum</a>
          <a href="#">Vivamus</a>
          <a href="#">Phasellus</a>
          <a href="#">pulvinar</a>
          <a href="#">Curabitur</a>
          <a href="#">Fusce</a>
          <a href="#">Sem quis</a>
          <a href="#">Mollis metus</a>
          <a href="#">Sit amet</a>
          <a href="#">Vel posuere</a>
          <a href="#">orci luctus</a>
          <a href="#">Nam lorem</a>
        </div>
      </div>
      <!-- Side Bar End -->
    </div>
  </div>
  <!-- Product List End -->

  <!-- Brand Start -->
  <div class="brand">
    <div class="container-fluid">
      <div class="brand-slider">
        <div class="brand-item"><img src="images/brand-1.png" alt=""></div>
        <div class="brand-item"><img src="images/brand-2.png" alt=""></div>
        <div class="brand-item"><img src="images/brand-3.png" alt=""></div>
        <div class="brand-item"><img src="images/brand-4.png" alt=""></div>
        <div class="brand-item"><img src="images/brand-5.png" alt=""></div>
        <div class="brand-item"><img src="images/brand-6.png" alt=""></div>
      </div>
    </div>
  </div>
  <!-- Brand End -->

  <script>
    function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    function goToPage(desPage) {
      var url = window.location.search;
      var page = getParameterByName('page');
      var newurl = page ? url.replace("page=" + page, "page=" + desPage.toString()) : url + "&page=" + desPage.toString();
      console.log(newurl);
      window.location.search = newurl;
    }
    function filtersomething(num, oldQuery) {
      console.log('something', num);
      //alert("aaaaaaaaaaaaaa" + name);
      console.log("old query: ", oldQuery);
    }
    function filterByCate(cateId) {
      let url = window.location.search;
      let newurl;
      if (url === "") {
        newurl = "?category=" + cateId;
      }
      else if (getParameterByName('category')) {
        newurl = url.replace(getParameterByName('category'), cateId);
      }
      else {
        newurl = url + "&category=" + cateId;
      }
      window.location.search = newurl;
    }
    function filterByPrice(choice) {
      let priceFilter;
      switch (choice) {
        case 0: priceFilter = "0"; break;
        case 1: priceFilter = "0-50000"; break;
        case 2: priceFilter = "50000-100000"; break;
        case 3: priceFilter = "100000-150000"; break;
        case 4: priceFilter = "150000-200000"; break;
        case 5: priceFilter = "200000"; break;
        default: break;
      }
      let url = window.location.search;
      let newurl;
      if (url === "") {
        newurl = "?p=" + priceFilter;
      }
      else if (getParameterByName('p')) {
        newurl = url.replace(getParameterByName('p'), priceFilter);
      }
      else {
        newurl = url + "&p=" + priceFilter;
      }
      window.location.search = newurl;
    }
    function sortByPrice(option) {
      let url = window.location.search;
      let newurl;
      if (url === "") {
        newurl = "?priceSort=" + option;
      }
      else if (getParameterByName('priceSort')) {
        newurl = url.replace(getParameterByName('priceSort'), option);
      }
      else {
        newurl = url + "&priceSort=" + option;
      }
      window.location.search = newurl;
    }
  </script>
